[submodule "cards"]
	path = cards
	url = https://github.com/brijamfitz/cards
[submodule "hello-world/hello-world"]
	path = hello-world/hello-world
	url = https://github.com/brijamfitz/https://github.com/brijamfitz/go-hello-world
